 




 .container{
   display: flex;
   justify-content: center;
    margin-top: 50px;
 }

 .search {
  width: 100%;
  padding: 12px 24px;
  background-color: transparent;
  font-size: 14px;
  line-height: 18px;
  color: #575756;
  background-color: transparent;
  margin-left: 0px;
  box-shadow: inset 0px 0px 0px 4px #ddd6e8;
  align-items: center;
  width: min-content;
   }

   

.container {
  display: flex;
  justify-content: center;

}
.search {

  width: 100%;
  padding: 12px 24px;
  background-color: transparent;
  font-size: 14px;
  line-height: 18px;
  color: #575756;
  background-color: transparent;
   margin-left: 0px;
   box-shadow: inset 0px 0px 0px 4px #ddd6e8;

}

button{
  font-size: 14px;
 padding: 12px 45px; 
 margin-left: 60px;
 background-color:  #ddd6e8;
 color: #575756;
  background-color: transparent;
  
   box-shadow: inset 0px 0px 0px 4px #ddd6e8;
}